input[type="text"], textarea {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}
textarea {
    width: 400px;
    height: 200px;
}
.form-group {
    margin-bottom: 5px;
    margin-top: 5px;
}
.form-group button {
    margin-right: 20px;
    margin-top: 10px;
}
.form-up {
    margin-top: 15px;
}