<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Student Multiprog - Формулы</h1>
<details>
    <summary>Математика</summary>
    <ul>
        {% for elem in list_math %}
        <li><a title={{elem}} rel="alternate">{{elem}}</a></li>
        {% endfor %}
    </ul>
</details>
<details>
    <summary>Физика</summary>
    {% for elem in list_physics %}
    <li><a title={{elem}} rel="alternate">{{elem}}</a></li>
    {% endfor %}
</details>
<details>
    <summary>Избранное</summary>
</details>

{% block content %}{% endblock %}
</body>
</html>