<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Student Multiprog</h1>
<div align="center">
    <button onclick="window.location.href = '/formulas';">Формулы</button>
    <button onclick="window.location.href = '/calculator';">Калькулятор</button>
    <button onclick="window.location.href = '/graph_calcu';">Графический калькулятор</button>
    <button onclick="window.location.href = '/calendar';">Календарь</button>
    <button onclick="window.location.href = '/translator';">Переводчик</button>
    <button onclick="window.location.href = '/notes';">Заметки</button>
</div>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>