<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/mdb.min.css" />
</head>
<body>
<h1>Student Multiprog</h1>
<div class="container" align="center">
    <button onclick="window.location.href = '/formulas';">Формулы</button>
    <button onclick="window.location.href = '/calc';">Калькулятор</button>
    <button onclick="window.location.href = '/graph-calc';">Графический калькулятор</button>
    <button onclick="window.location.href = '/calendar';">Календарь</button>
    <button onclick="window.location.href = '/translator';">Переводчик</button>
    <button onclick="window.location.href = '/notes';">Заметки</button>
</div>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>