<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="right">
    <button onclick="window.location.href = '/sign_up';">Sign up</button>
    <button onclick="window.location.href = '/sign_in';">Sign in</button>
</div>
<h1 style="display:inline;">Student Multiprog</h1>
<p>Web-сайт и телеграмм-бот для студентов, в которых реализованы такие нужные для студентов фишки как
    калькулятор, заметки, полезные формулы и материалы по разным предметам, возможность составить себе расписание
    на неделю, на сайте встроены помогающие сервисы (встроенный переводчик/графический калькулятор)</p>
</body>
</html>